name: Build Flutter APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: stable

      - name: Make gradlew executable
        run: chmod +x android/gradlew

      - name: Get Flutter dependencies
        run: flutter pub get

      - name: Clean build
        run: flutter clean

      - name: Build APK
        run: flutter build apk --release

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my_first_app_apk
          path: build/app/outputs/flutter-apk/app-release.apk
