name: Build Flutter APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'

      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Fix Android Permissions
        run: find . -name "gradlew" -exec chmod +x {} +

      - name: Get Dependencies
        run: flutter pub get
        # إذا كان المشروع في مجلد فرعي، أضف السطر التالي:
        # working-directory: my_first_app 

      - name: Build APK
        run: flutter build apk --release
        # working-directory: my_first_app

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: release-apk
          path: "**/build/app/outputs/flutter-apk/app-release.apk" # النجمتين للبحث في كل المجلدات
